*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Mono',Arial, Helvetica, sans-serif, monospace;
    color: hsl(186, 14%, 43%);
}
.attribution { padding:10px 0;font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

input, .btn{
    cursor: pointer;
}
input[type="number"] {
    max-width: 500px;
    font-size: 24px;
    text-align: right;
    -moz-appearance: textfield;
}

/* app container  */
.app-wrapper{
    min-height: 100vh;
    text-align: center;
    background-color:  hsl(185, 41%, 84%);
}
.app-wrapper .title{
    padding: 30px;
    display: block;
    letter-spacing: 3px;
    font-weight: 700;
}

/* calculator container */
.calculator-wrapper{
    margin: 0 auto;
    padding: 25px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    border-radius: 25px;
    background-color: hsl(0, 0%, 100%);
}

.calculator-wrapper .bill{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.select-tip{
    flex-basis: 100%;
}

/* input img */
img {
    position: absolute;
    left: 1rem;
    top: 2.5rem;
}

/* input labels */
.people-num-label,.bill-label{
    text-align: left;
    flex-basis: 100%;
}
.calculator-wrapper input {
    margin-bottom: 15px;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    background-color: hsl(195, 17%, 95%);
}
 .tip .people-num,.bill-input{
    width: 100%;
}

/* max size of tip btns section and bill summary section 

*/
.calculator-wrapper .tip,.total-price{
    margin: auto;
    max-width: 600px;
    justify-content: space-between;
}

.tip-percent{
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tip-percent input{
    margin: 10px  auto;
}
#people-num{
    margin: 10px 0;
}

/* buttons */
.btn{
    margin: 10px auto;
    padding: 10px 25px;
    flex-basis: 40%;
    text-align: center;
    border-radius: 4px;
    border: none;
    color:hsl(0, 0%, 100%);
    background-color:hsl(183, 100%, 15%);
    transition: .3s;
}
.btn:hover{
    background-color: hsl(185, 41%, 84%);
}
.btn.active{
    color:hsl(183, 100%, 15%) ;
    background-color: hsl(172, 67%, 45%);
}
.btn-tip{
    max-width: 160px;

}
.btn-reset{
    flex-basis: 90%;
    font-weight: 700;
    letter-spacing: 1px;
    color:hsl(183, 100%, 15%);
    background-color: rgb(10, 102, 107)
}
.btn-reset.active{
    background-color: hsl(172, 67%, 45%);
}

#inp-tip{
    min-width: 80px;
    max-width: 160px;
    text-align: center;
    flex-basis: 40%;
}

/* error messages */
.error-msg {
    color: indianred;
    font-weight: 700;
    display: none;
}

.show-error-msg {
    transition: 1s ease-in-out;
    display: block;
}

/* total price (bil summary section) */
.total-price{
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    color:hsl(0, 0%, 100%);
    background-color:hsl(183, 100%, 15%);
}
.amount,.price{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.price{
    color:hsl(172, 67%, 45%) ;
}
.tip,.total{
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
} 


/* responsiveness for desktop */
@media screen and (min-width:1025px){
    .app-wrapper .title{
        padding: 80px 0 50px;
        letter-spacing: 5px;
    }
    .calculator-wrapper {
        padding: 30px;
        justify-content: space-between
    }
    .bill-input{
        margin-bottom: 25px;
    }
    .people-num-label,.select-tip{
        margin-top: 15px;
    }
    .tip{
        margin: 0;
        flex-basis: 45%;
    }
    .btn-tip,#inp-tip{
        flex-basis: 30%;
    }
    .total-price{
        margin: 0;
        flex-basis: 50%;
        align-items: center;
    }
    .total-price .tip{
        flex-basis: 100%;
    }
   .price{
       flex-basis: 30%;
       font-size: 30px;  
    }
    .attribution{
       padding-top: 50px;
    }
}
